<h1>Edit Recipe</h1>
<%= @error %>

<form method="post" action="/recipes/<%= @recipe.id %>">
  <input type="hidden" name="_method" value="patch" />
  <p>
    <div><label for="title">Title</label></div>
    <input id="title" type="text" name="recipe[title]" value="<%= @recipe.title %>" />
  </p>
  <p>
    <div><label for="content">content</label></div>
    <textarea rows="8" cols="45" id="content" type="text" name="recipe[content]"><%= @recipe.content %></textarea>
  </p>
  <p>Add Tags</p>
    <p>
        <% Tag.all.each do |tag| %>
            <input type="checkbox" name="recipe[tag_ids][]" id="<%= tag.id %>" value="<%= tag.id %>"><%= tag.name %><br>
        <% end %>
    </p>
  <input type="submit" value="Update Recipe" />
</form>
